<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.glxy.sass.mapper.RankingMapper">

    <!--  统计各学院积分并排序-->
    <select id="selectRanking" resultType="org.glxy.sass.entity.Ranking">
        select college_name,sum(competition_integral) as 'rankingIntegral'
        from enroll
        GROUP BY college_name
        ORDER BY sum(competition_integral);
    </select>

</mapper>