<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.glxy.sass.mapper.RoleMapper">
    <insert id="addR" parameterType="org.glxy.sass.entity.Role">
            insert into
            role(role_id,users_stnumber,users_name,role_value)
            values(#{roleId},#{usersStnumber},#{usersName},#{roleValue})
    </insert>

    <!--    修改用户角色-->
    <update id="updateRoleValue" parameterType="org.glxy.sass.entity.Role">
            update `role`
            SET role_value= #{roleValue}
            WHERE users_stnumber = #{usersStnumber}
    </update>

    <!--    删除角色-->
    <delete id="deleteByUsersStnumber" parameterType="org.glxy.sass.entity.Role">
            DELETE FROM `role`
            WHERE users_stnumber = #{usersStnumber}
    </delete>

    <!--    获取用户角色（权限）-->
    <select id="selectRoleValue" resultType="java.lang.Object">
        SELECT role_value FROM `role` where users_stnumber = #{usersStnumber}
    </select>

    <!--    根据学号，用户名查询报名列表-->
    <select id="selectEnroll" resultType="org.glxy.sass.entity.Role">
        select * from `role`
        <where>
        <if test="usersStnumber != null and usersStnumber != '' ">
            AND users_stnumber LIKE CONCAT('%','${usersStnumber}','%')
        </if>
        <if test="usersName != null and usersName != '' ">
            AND users_name LIKE CONCAT('%','${usersName}','%')
        </if>
        </where>
    </select>

</mapper>